@import url("./styles/flex.css");
@import url("./styles/button.css");
@import url("./styles/grid.css");
@import url("./styles/fonts.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
}

body {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

.wrapper,
header {
  --page-padding-x: 24px;
  padding: 0 var(--page-padding-x);
}

:root {
  --text-base: #f2f4fe;
  --text-opacity-75: rgba(255, 255, 255, 0.75);

  --pink: #ad1fea;
  --blue: #4661e6;
  --navy: #373f68;
  --lt-navy: #3a4374;
  --grey: #f2f4ff;
  --lt-grey: #f7f8fd;
  --dk-grey: #647196;
  --orange: #f49f85;
  --lt-blue: #62bcfa;
}

.auto {
  margin: auto;
}
/*Md*/
@media (min-width: 768px) {
}
/*Lg*/
@media (min-width: 1024px) {
}
/*Xl*/
@media (min-width: 1280px) {
}
/*2Xl*/
@media (min-width: 1440px) {
}
