button {
  --h: 44px;
  --w: 158px;
  --font: 14px;

  height: var(--h);
  width: var(--w);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 10px;
  outline: none;

  font-size: var(--font);
  font-weight: bold;

  color: var(--text-base);
}
button.pink {
  background-color: var(--pink);
}
button.pink:hover {
  cursor: pointer;
  background-color: #c75af6;
}
